@font-face {
	/*We moved the Fonts folder into assets. Therefore the links have follow*/
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/slick.eot');
	src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
	url('../fonts/slick.woff') format('woff'),
	url('../fonts/slick.ttf') format('truetype'),
	url('../fonts/slick.svg#slick') format('svg');
}

body {
	background-color: #A6E1EC;
}

.slick-arrow {
	z-index: 1;
}

.slick-prev {
	left: 10px;
}

.slick-next {
	right: 10px;
}
